#fb-root
script(
  async,
  defer,
  crossorigin='anonymous',
  src='https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v14.0',
  nonce='MZJvDH8F')
.fb-page(
  data-href=links.sns.facebook,
  data-show-posts='true',
  data-width='',
  data-height='',
  data-small-header='false',
  data-adapt-container-width='true',
  data-hide-cover='false',
  data-show-facepile='false')
  blockquote.fb-xfbml-parse-ignore(cite=links.sns.facebook)
    a(href=links.sns.facebook) #{site.title}
